<form (submit)="onSave()">
    <mat-card>
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Name"
          name="name"
          [(ngModel)]="card.name"
        />
      </mat-form-field>
      <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Description"
            name="description"
            [(ngModel)]="card.description"
          />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Assignee</mat-label>
            <mat-select>
              <mat-option *ngFor="let user of users"
                [value]="users.id"
                >{{ user.firstName }} {{ user.lastName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Choose a date"
            name="dueDate"
            [(ngModel)]="card.dueDate"
          >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div>
          <button mat-flat-button color="warn" type="submit">Save</button>
          <button mat-flat-button (click)="onCancel()" type="button">Cancel</button>
      </div>
    </mat-card>
  </form>
